* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before, *::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

input, button {
  font-family: inherit;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 14px;
  line-height: 24px;
}

#canvas {
  display: block;
}

#header {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
}

#clear {
  width: 100px;
  height: 30px;
  background: #3366cc;
  color: #fff;
  text-align: center;
  font-weight: 600;
  line-height: 30px;
  margin-left: 50px;
  transition: all ease .3s;
}

#clear:hover {
  background: #ff9933;
  cursor: pointer;
}

#colors {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.colorWrapper {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

